O Walmart é uma rede de hipermercados muito famosa por estar presente em 27 países diferentes, com mais de 11 mil lojas. Deixou de atuar no Brasil em 2019 mas, continua atuando fortemente em outros países. Nesse estudo, o Walmart traz uma combinação de dados de 45 lojas incluindo informações de vendas mensais. O Walmart tenta encontrar o impacto de feriados nas vendas das lojas. Os feriados  incluídos nos dados são: Natal, Ação de Graças, Super Bowl, e dia do Trabalho. 

O objetivo desta análise é predizer as vendas das lojas de uma semana. Como há datas, vou analisar se as vendas são impactadas por fatores baseados no tempo. E a pergunta que norteia esse estudo será: como a inclusão de feriados em uma semana aumenta as vendas nas lojas?

### Importando bibliotecas e dados

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl

#Datas
import math
from datetime import datetime
from datetime import timedelta

import warnings
warnings.filterwarnings("ignore")

### Lendo os arquivos e armazenando em dataframes
#### Reading files and storing in dataframes

In [12]:
df_store = pd.read_csv('./Data/stores.csv')

In [13]:
df_train = pd.read_csv('./Data/train.csv')

In [18]:
df_features = pd.read_csv('./Data/features.csv')

In [15]:
df_store.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [16]:
df_train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [19]:
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [20]:
# Concatenando os 3 diferentes datasets
# Merge 3 different sets
df = df_train.merge(df_features, on=['Store', 'Date'], how='inner').merge(df_store, on=['Store'], how='inner')
df.head(5)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
1,1,2,2010-02-05,50605.27,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
2,1,3,2010-02-05,13740.12,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
3,1,4,2010-02-05,39954.04,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
4,1,5,2010-02-05,32229.38,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315

In [21]:
# Removendo coluna duplicada: o uso de inplace significa que estamos sobrescrevendo o dataframe
# Removing duplicated column: Use of inplace means we're overwriting the dataframe
df.drop(['IsHoliday_y'], axis = 1, inplace=True)

In [22]:
#Renomeando a coluna
#Renaming the column
df.rename(columns={'IsHoliday_x':'IsHoliday'}, inplace = True)

In [23]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,2,2010-02-05,50605.27,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
2,1,3,2010-02-05,13740.12,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
3,1,4,2010-02-05,39954.04,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
4,1,5,2010-02-05,32229.38,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315

In [25]:
#Verifying if dataframe is not corrupted after changes made.
# This function shows (rows,columns)
df.shape

(421570, 16)

### Lojas e Números de Departamentos
#### Store & Department numbers

In [27]:
# Número de valores distintos
# Number of different values
df['Store'].nunique()

45

In [28]:
df['Dept'].nunique()

81

Agora, eu verifico as médias de vendas semanais para cada loja e departamento a fim de observar valores divergentes para o cenário. 

Now, I check the weekly sales averages for each store and department to observe divergent values for the scenario.

In [30]:
store_dept_table = pd.pivot_table(df,index='Store', columns='Dept', values='Weekly_Sales', aggfunc=np.mean)
display(store_dept_table)

Dept,1,2,3,4,5,6,7,8,9,10,...,90,91,92,93,94,95,96,97,98,99
Store,,,,,,,,,,,,,,,,,,,,,
1,22513.322937,46102.090420,13150.478042,36964.154476,24257.941119,4801.780140,24566.487413,35718.257622,28062.052238,31033.386364,...,82427.547832,64238.943427,135458.969510,71699.182378,63180.568182,120772.062168,33251.831639,35207.348811,11827.770769,306.091081
2,30777.980769,65912.922517,17476.563357,45607.666573,30555.315315,6808.382517,40477.837063,58707.369441,34375.864476,38845.854476,...,97611.537133,80610.380350,164840.230979,70581.977063,70018.672517,143588.751888,34319.063846,40697.204056,14035.400839,475.896905
3,7328.621049,16841.775664,5509.300769,8434.186503,11695.366573,2012.411818,10044.341608,8310.254196,9062.007692,10871.944126,...,1540.049161,318.685594,7568.280210,NaN,656.294444,15745.528252,3934.540000,343.437357,30.570833,NaN
4,36979.940070,93639.315385,19012.491678,56603.400140,45668.406783,8241.777692,50728.151399,62949.723776,34437.170979,37269.667413,...,89248.965524,66535.407203,159365.107902,67815.163007,68159.106573,147236.473706,38346.573077,39339.238951,15009.249371,623.182381
5,9774.553077,12317.953287,4101.085175,9860.806783,6699.202238,1191.057622,6124.484336,13735.709441,7919.805944,9783.395385,...,3059.520000,1457.221678,7759.205594,NaN,411.431486,19340.693986,5985.671119,667.070315,29.976087,NaN
6,23867.553776,50269.437273,16806.638811,34187.366503,34465.307622,7225.566643,34526.870420,47577.719790,48271.060140,47436.477902,...,53715.366084,45270.405175,99024.796503,41359.651189,41701.693497,89208.786294,30450.542238,20637.667063,9728.100629,388.636750
7,9542.801259,22603.690769,8633.536923,14950.518601,13860.350490,6329.928811,10925.757063,13970.619371,29722.736084,21136.560280,...,13858.405874,10263.880000,26530.890559,1328.178252,699.332522,34208.097273,1123.383217,4374.927902,260.886596,15.000000
8,14789.827343,35729.821748,10683.305105,21089.309301,19838.849231,3395.425455,20268.743776,26438.524336,11792.661678,20666.433776,...,39333.566154,31530.560909,60465.630000,27515.635315,25442.578042,62951.463706,16.986667,16978.366503,6880.466434,298.153714
9,11846.558252,24969.477413,7497.356783,17165.947762,19282.746014,2806.416364,13826.694336,21424.470699,13196.569720,12810.480350,...,2981.249510,869.273287,14123.063147,21.240000,599.112568,29575.050769,3596.107762,372.655556,27.930000,NaN
10,39925.138951,109795.291469,32086.181469,48579.826364,58373.460280,10556.550769,58964.715664,86739.846643,64436.722517,48108.063497,...,14291.869790,12703.554406,50450.731958,1420.418462,393.833168,73344.654685,11079.676643,5323.506503,198.179091,NaN
11,18860.911958,57114.326224,17628.778671,28837.744545,36663.363916,5925.281678,34844.108462,34415.449580,19056.162168,23449.992727,...,48995.984196,42030.370699,77392.741608,32623.853706,37474.038531,77487.279091,21685.298811,16596.197552,9570.351469,520.938125
12,17330.087622,74494.846224,17535.251678,26673.788182,27756.204615,6741.174895,34242.449161,42229.665035,19553.030490,17975.211119,...,11060.175455,6779.841469,24682.599161,562.897203,355.264000,43405.853357,6.441176,2394.894755,747.609860,29.880000
13,47020.455455,76339.960000,26116.623706,42563.275455,56786.934755,7886.826993,59896.738601,36238.867972,41236.445175,29431.879231,...,115592.108042,81272.990979,162034.099301,50024.937203,75522.874406,136844.834056,9165.079930,27556.759231,14980.825385,732.604651
14,30611.783357,77704.857972,19418.273986,52936.323287,33468.325035,7016.829790,53256.150280,53425.359860,22025.603497,20165.667133,...,107174.743986,91406.434615,182527.956014,62088.622937,64541.165664,144446.932517,5.193846,25684.497762,17768.013706,635.556047
15,13845.747832,26317.410769,10470.811958,13082.172448,16465.706993,4244.143776,22267.220070,20416.967273,15954.692937,11524.856294,...,5345.240420,3414.740909,18262.376853,422.878252,272.906250,27291.017133,2784.158881,2071.211888,273.504884,29.880000
16,11352.479371,23549.144965,7635.427273,14748.078112,13494.538671,5146.038951,11544.310140,14676.778322,28990.377343,12681.776643,...,6922.744685,3331.204965,20446.967832,997.032281,673.280928,27385.769231,126.934126,2116.696993,42.618571,59.760000
17,22801.609161,42231.844406,19278.955035,23961.357273,27082.325594,5944.435245,19474.770559,20110.270839,27293.658042,14165.000000,...,31293.306224,12033.678951,53043.348741,3646.955664,855.782273,50614.958462,819.416458,7798.283427,169.379120,2.290000
18,21988.356224,63665.139510,16392.980490,26775.207203,22933.954965,5664.913077,33152.347203,32036.582098,18589.371259,16754.599860,...,18481.394266,14124.482517,50079.623636,2113.300147,4880.242248,57668.251748,0.481333,5350.500432,881.150853,12.560000
19,21504.029161,50841.072937,18414.224476,31365.545315,28759.223846,5948.962867,33882.926853,42613.662937,30645.018112,27622.457762,...,67545.406434,54692.797413,113720.212937,37087.937063,37643.786434,97240.503566,15860.814825,20370.269720,12884.229091,440.374878
20,40545.473217,78251.249930,15490.971259,51456.376643,41647.786503,8210.745734,49394.699231,76445.061259,38243.623916,41826.467552,...,95858.587343,78493.190140,164633.741538,52818.583706,63148.334965,150613.955385,15.266875,25836.062238,19284.377343,796.153864
21,14950.049231,47780.599161,14607.126923,19354.728042,16090.874545,3988.656294,24456.825664,18238.059790,16387.963636,14695.978881,...,10983.598741,6735.454126,21915.114965,663.384126,537.663333,40379.295175,2.000000,3260.404685,111.680672,29.880000
22,21493.271119,53361.851888,13150.979510,32104.132378,23187.335105,5236.811329,29068.621608,37236.347692,23452.908881,19438.354266,...,21413.411608,21405.250629,51603.339091,2531.663986,857.190894,57868.571119,6.243000,4582.594755,177.560576,27.150000
23,33186.460559,70522.580140,19912.564755,27324.303077,36895.869021,7393.499650,43624.067413,36710.240909,50178.361748,31155.170559,...,20814.992168,19604.867692,59604.574615,2111.610780,374.898804,54199.088322,13168.146713,6149.684755,100.585083,29.880000
24,18859.023357,40797.169301,11825.589021,29245.357552,29178.058811,4911.185804,28788.329441,49171.841748,23246.748322,27175.089231,...,72650.442867,52435.498252,121882.073916,37876.836853,51850.045105,93927.992098,13623.074615,18597.824126,9878.970140,413.774211
25,20145.897483,36871.310559,11788.130979,20351.455455,12422.996434,3760.045035,17971.439580,29858.353636,14636.113636,20202.701469,...,11932.596503,7767.272098,38854.460699,777.747483,2607.109754,43991.147692,-1.270000,2706.628252,665.919779,NaN
26,19402.762937,27398.030979,7357.400769,24498.113846,17589.532587,4656.670490,16287.658531,28694.950909,16556.330769,10172.815734,...,57016.589231,39434.281259,84988.311818,25615.331469,42544.202028,70236.827622,18596.331888,14830.084825,8025.948601,221.950278
27,30437.976224,79001.049161,20226.734615,43596.933916,28059.038252,7730.729091,43272.914965,42181.469580,29315.697133,36757.327413,...,96374.536573,66687.096573,146518.141399,54910.693776,69638.930420,119519.410909,20806.990909,21268.805734,11524.137832,562.980000
28,20180.453986,57751.274336,12562.223287,27980.817203,28221.618392,5016.258671,29228.446923,33375.575524,17930.710070,21083.404825,...,65285.952098,57575.601119,98486.960350,47923.508671,36164.364615,96322.113846,26288.955734,23828.861329,10673.133077,316.605610
29,15504.699580,25181.662727,7995.955804,14326.216224,12931.821259,3289.884965,16854.082238,20680.465944,11370.866364,9400.183077,...,10950.327972,4691.213217,25166.714266,1190.882098,263.083012,30980.395594,11.800000,2131.676783,139.677971,29.880000
30,9788.376643,12974.464476,739.981888,13216.100909,405.565944,27.303937,379.771958,11733.993776,76.845352,196.116923,...,34622.986224,31576.583986,53256.041399,22409.698392,24522.622587,45456.508322,19163.112028,13172.531119,3207.034685,-0.641818
31,17356.652448,58512.131538,10616.675944,34848.899231,18715.630769,3489.809441,21012.438531,25277.976713,10815.516713,19911.584406,...,86167.265804,70232.133566,127010.118601,57876.205664,68732.141818,106696.019231,30335.294266,31144.978112,10101.886713,218.742203
32,22852.639510,50323.497343,15472.540140,28137.154965,20748.371888,4589.748392,25375.036993,24681.349580,20739.684685,22887.257483,...,61639.637133,48368.756154,100122.929021,30732.226923,48650.040979,84695.234196,2308.411818,17160.310000,7939.262378,379.147250
33,2379.086573,7471.425105,283.950140,6107.616014,112.728310,11.996538,392.912867,3679.792168,42.788348,80.301189,...,24899.923147,9862.862867,34227.662867,25648.054266,29002.624476,27022.949161,9371.822168,5375.769510,7340.692168,0.022000
34,19947.573077,34916.225874,8377.376434,19791.509021,21633.900559,3419.062028,18055.491608,27165.013147,17224.253497,16957.163566,...,44338.936783,34018.102238,67782.520909,29590.111329,37428.096923,69245.187972,19154.212308,17570.577483,7775.998182,347.144324
35,17082.647902,45578.456224,14308.382797,19495.631119,24858.433706,7256.417133,30267.589790,18416.401678,15657.032937,14818.443706,...,12960.450210,7919.080140,33776.032028,1528.451469,200.270435,43286.536993,10.788333,3738.292517,68.284831,NaN
36,2239.227413,13416.025664,381.324266,9873.505105,314.753982,26.291579,414.428322,3417.640420,102.211739,175.052308,...,35474.191958,11097.875874,44539.564476,26103.315664,47372.151119,39735.688741,15683.341818,6469.273636,9009.943776,0.020000
37,11024.235874,16511.446224,1297.862028,17614.013636,1137.631189,46.313630,824.978392,16151.397902,151.233803,387.644685,...,44144.428112,30870.677063,59440.577133,21599.851049,33656.648112,51410.551119,20375.380769,13960.701399,5286.761119,15.000000
38,6923.538531,10986.172657,498.700210,10669.501329,397.418322,37.014855,413.539021,9485.399441,77.520350,365.364895,...,34765.576783,25404.860420,45314.434825,18868.919091,21331.411259,41793.649021,11981.676643,9902.368182,4783.086713,25.000000
39,21925.021189,67338.429371,20569.701608,44807.515105,24043.436783,4911.540420,40020.492867,36130.641608,19396.117692,14919.373916,...,78649.534685,60386.286014,110126.209580,39684.510000,59830.190280,103036.757133,27089.158601,23993.406853,9767.295734,334.869756
40,18794.578811,26702.705175,6489.030350,24386.750559,17689.671678,4003.068601,18898.214336,33971.532238,19065.436294,19612.629301,...,61258.202867,43256.156853,96475.753287,27532.751189,38210.900699,66572.881259,15309.077972,17131.033497,8178.371049,167.374167
41,23205.259930,48349.828951,17021.833357,30538.574895,25513.943776,5267.832098,33711.105734,33729.081678,32743.470140,15194.223706,...,70852.021818,52714.928462,115827.664056,35415.340000,47218.529161,88666.468392,2883.492238,19789.219231,9371.531608,443.736512
42,10375.148392,15976.902448,814.451189,14885.264755,1052.296783,3.333333,721.913846,18238.584196,135.524056,404.596014,...,53384.897902,42913.221259,83497.778671,32852.632308,35724.612098,61205.272308,15183.474196,17495.198811,6540.721259,NaN
43,7549.109021,20722.851469,999.648881,18227.382168,575.417326,37.843246,516.772867,13185.211678,147.694196,507.426713,...,63668.895594,34808.442168,83646.160909,36196.693217,50769.708322,72883.223287,25058.369371,19349.989930,9594.867483,26.250000
44,8049.992308,9377.273007,571.016713,7403.959580,960.670490,34.648722,531.034895,4963.966224,99.817273,153.792657,...,31182.601818,18169.510070,39619.563287,11029.915734,23812.046993,31100.185175,2834.139580,6636.467413,3466.077063,3.505000
45,17745.916014,35800.912448,9508.014965,24229.873147,16107.063077,3554.222657,23757.771538,34050.409580,15485.885804,14245.086993,...,23674.035245,16641.927343,48125.897762,2728.627133,3690.272090,52896.166643,2.970000,6466.961888,561.239037,NaN

In [36]:
output = df['Dept'].unique()
print(sorted(output))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 54, 55, 56, 58, 59, 60, 65, 67, 71, 72, 74, 77, 78, 79, 80, 81, 82, 83, 85, 87, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

PT

O número das lojas vão de 1 até 45, enquanto o número dos departamentos vão de 1 a 99, mas é possível notar que há alguns valores faltantes como 86, 88, e 89. O número total de departamentos deve ser, portanto, 81.

É possível ver, a partir da tabela pivot, que há médias zeradas e médias negativas. Nesse cenário,é impossível que uma loja/departamento não venda absolutamente nada em uma semana. Os valores 0 e valores negativos não podem aparecer. Logo, será necessário alterar tais valores.

EN

The number of stores ranges from 1 to 45, while the number of departments ranges from 1 to 99, but it is possible to notice that there are some missing values such as 86, 88, and 89. The total number of departments must therefore be 81.

It is possible to see, from the pivot table, that there are zero averages and negative averages. In this scenario, it is impossible for a store/department to sell absolutely nothing in a week. 0 values ​​and negative values ​​cannot appear. Therefore, it will be necessary to change these values.

In [37]:
df.loc[df['Weekly_Sales'] <= 0]

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
188,1,47,2010-02-19,-863.00,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315
406,1,47,2010-03-12,-698.00,False,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,A,151315
2549,1,47,2010-10-08,-58.00,False,63.93,2.633,NaN,NaN,NaN,NaN,NaN,211.746754,7.838,A,151315
3632,1,54,2011-01-21,-50.00,False,44.04,3.016,NaN,NaN,NaN,NaN,NaN,211.827234,7.742,A,151315
4132,1,47,2011-03-11,0.00,False,53.56,3.459,NaN,NaN,NaN,NaN,NaN,214.111056,7.742,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420066,45,49,2012-05-25,-4.97,False,67.21,3.798,5370.39,NaN,361.22,1287.62,2461.81,191.002810,8.567,B,118221
420403,45,49,2012-06-29,-34.00,False,75.22,3.506,3291.36,425.60,NaN,314.88,2255.34,191.099246,8.567,B,118221
420736,45,49,2012-08-03,-1.91,False,76.58,3.654,24853.05,39.56,17.96,11142.69,2768.32,191.164090,8.684,B,118221
421007,45,54,2012-08-31,0.00,False,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,191.461281,8.684,B,118221
421142,45,49,2012-09-14,-6.83,False,67.87,3.948,11407.95,NaN,4.30,3421.72,5268.92,191.699850,8.684,B,118221

Como 1358 linhas representam somente 0,3% do total de linhas (421570), é passível remover tais linhas que contém valores errados de vendas.

Since 1,358 rows represent only 0.3% of the total number of rows (421570), it is possible to remove those rows that contain wrong sales values.

In [38]:
df = df.loc[df['Weekly_Sales'] > 0]

In [40]:
df.shape

(420212, 16)